<div class="index drills">
  <div class="user-score">
    <h4>Your score is <%= current_user.score %></h4>
  </div>
  <div class="listing">
      <h2>Drills Leader Board</h2>
    <table >
      <tr class="header">
        <th>No.</th>
        <th>Name</th>
        <th>Score</th>
      </tr>
      <% counter = 1 %>
      <% @users.each do |user| %>
        <tr>
          <td><%= counter %></td>
          <td><%= user.first_name %></td>
          <td><%= user.score %></td>
        </tr>
        <% counter = counter +1 %>
      <% end %>
    </table>
</div>




</div>
