<%= link_to("Back to list", drill_groups_path, :class => 'waves-effect waves-light btn')%>
<div class="delete drill-groups">
  <h2>Delete Drill</h2>
  <%= form_for(@drill_group, :method => 'DELETE') do |f| %>
    <p>Are you sure you want to permanently delete this drill?</p>
    <div class="form-buttons">
      <%= f.submit("Delete Drill",class:'waves-effect waves-light btn') %>
    </div>
  <% end %>
</div>
