<h1 class="center-align">Welcome Page</h1>

<div class="parallax-container">
    <div class="parallax"><img src="images/img2.jpg"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Parallax</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="images/img3.jpg"></div>
  </div>

<video src="videofile.ogg" autoplay poster="posterimage.jpg">
  <source src="images/EMIT__Connections_Plexus.mp4" type="video/">
</video>
