
<div class="video-background">
  <video class="prpl-bgv prpl-cover-bgv" id="bgv_vhtZto" poster="/assets/images/video-posters/home-hero.jpg" preload="auto" loop="true" muted="true" autoplay="" style="width: auto; height: 100%; margin-left: 0px; margin-top: 0px;"><source src="http://ffc71bcab7b3b768044d-112878d1308f6723380931f33472aca6.r86.cf1.rackcdn.com/home/loop-v5_compress.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;"><source src="http://ffc71bcab7b3b768044d-112878d1308f6723380931f33472aca6.r86.cf1.rackcdn.com/home/loop-v5.webm" type="video/webm"></video>

</div>
