<div class="delete drills">
  <h2>Delete Drill</h2>
  <%= form_for(@drill, :method => 'DELETE') do |f| %>
    <p>Are you sure you want to permanently delete this drill?</p>
    <div class="form-buttons">
      <%= f.submit("Delete Drill", class:'waves-effect delete-button  waves-light btn') %>
      <%= link_to("Back to list", drills_path, :class => 'waves-effect waves-light btn')%>
    </div>
  <% end %>
</div>
