<h2><%=@drill.title%></h2>


<%= form_for @attempted_drill do |attempt| %>
  <% @answers.each do |answer|%>
    <%= radio_button_tag(:answer, answer.id.to_i) %>
    <%= label_tag( ("answer_" + "#{answer.id}").to_sym, "#{answer.body}") %>
  <% end %>