<div class="">
  <h4>Are you sure you want to delete all your drills of <%= @drill_group.drill_group_name %> ?</h4>
  <%= link_to("DELETE", my_drill_path(@drill_group), method: :delete, class: "btn btn-danger") %>
</div>
