/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

*/
@import "materialize/components/color";
$primary-color: color("white", "lighten-1") !default;
$secondary-color: color("indigo", "darken-1") !default;
@import "materialize";
@import "font-awesome";


.field_with_errors input, .field_with_errors textarea {
  border: medium solid red;
}

.alert{
 border-radius: 5px;
 padding: 1em;
}

.alert.alert-success{
 background-color: Yellowgreen;
}

.alert.alert-danger{
 background-color: Salmon;
}

.navbarHello{
padding-top: 15px;
padding-bottom: 15px;
color: lightblue;
}

.signIn-left{
  float:left
}
.signIn-right{
  float:right;
}
.butonIndex{
  display: flex;
}

.btn1{
  margin-left: 10px;
}

.fa {
  font-size: 30px;
  float: left;
  margin: 20px;
}

.fa:hover {
  color: darkgrey;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;

}

.page-footer {
  // height: 40px;
  background-color: #00cc99;
}

.video-background {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
  margin-top: -100px;
}

nav {
  background-color: transparent;
  box-shadow: none;
}

nav .brand-logo {
  text-shadow: 2px 2px #00cc99;
}

nav ul a {
  text-shadow: 2px 2px #00cc99;
}

.bg-color {
  background-color: #00cc99;
  margin-top: -10px;
}
.content {
  position: relative;
  height: 200px;
  background-color: grey;
  margin: 0;
}

.container-video {
  position:relative;
  display: flex;
}
.container-video video {
    position:relative;
    z-index:0;

}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    color: white;
    margin: auto;
    padding: 90px;
    font-family: monospace;
}

.text-center {
  text-align: center;
}

.drill_groups {
  display: flex;
}

.drill_groups_contents {
  margin: auto;

}
