/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

*/
@import "materialize/components/color";
$primary-color: color("teal", "lighten-1") !default;
$secondary-color: color("teal", "base") !default;
@import "materialize";
@import "font-awesome";


.field_with_errors input, .field_with_errors textarea {
  border: medium solid red;
}

.alert{
 border-radius: 5px;
 padding: 1em;
}

.alert.alert-success{
 background-color: Yellowgreen;
}

.alert.alert-danger{
 background-color: Salmon;
}

.navbarHello{
padding-top: 15px;
padding-bottom: 15px;
color: lightblue;
}

.signIn-left{
  float:left;
}
.signIn-right{
  float:right;
}
.butonIndex{
  display: flex;
}

.btn1{
  margin-left: 10px;
}

.fa {
  font-size: 30px;
  float: left;
  margin: 20px;
  color:teal;
}

.fa:hover {
  color: black;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}



.brand-logo {
  transition: 0.3s ease;
}
.brand-logo:hover {
  transform: rotate(5deg) translateX(-5px) !important;
}

.input-field label {
  color: grey;
}
.input-field label:not(.label-icon).active {
  color: #009973;
}

.drill_groups {
  display: flex;
}

.drill_groups_contents {
  margin: auto;

}

.right {
  display: flex;
}

.right li {
  flex: 1;
  border: thin white solid;
  margin-right: 10px;
}
