/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

*/
@import "materialize/components/color";
$primary-color: color("white", "lighten-1") !default;
$secondary-color: color("teal", "base") !default;
@import "materialize";
@import "font-awesome";



.field_with_errors input, .field_with_errors textarea {
  border: medium solid red;
}

.alert{
 border-radius: 5px;
 padding: 1em;
}

.alert.alert-success{
 background-color: Yellowgreen;
}

.alert.alert-danger{
 background-color: Salmon;
}

.navbarHello{
padding-top: 15px;
padding-bottom: 15px;
color: lightblue;
}

.signIn-left{
  float:left
}
.signIn-right{
  float:right;
}
.butonIndex{
  display: flex;
}

.btn1{
  margin-left: 10px;
}

.fa {
  font-size: 30px;
  float: left;
  margin: 20px;
}

.fa:hover {
  color: black;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.navbar-fixed {
  position: fixed;
  top:0;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  background-color: #009973;
  padding:0px;
}

.row {
  margin-bottom: 0px;
}

.bg-color {
  background-color: #009973;
  padding-top: 50px;
  // z-index:-2;
}

nav {
  background-color: transparent;
  box-shadow: none;
}

nav .brand-logo {
  text-shadow: 2px 2px #009973;
}

nav ul a {
  text-shadow: 2px 2px #009973;
}

.box-page {
  margin-top:12.5px;
  padding-top:25px;
  padding-bottom:50px;
  background-color:rgba(255, 255, 255, 1);
  z-index: -100;
}

.brand-logo {
  transition: 0.3s ease;
}
.brand-logo:hover {
  transform: rotate(5deg) translateX(-5px) !important;
}

.input-field label {
  color: grey;
}
.input-field label:not(.label-icon).active {
  color: #009973;
}
