// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.overlay {
  font-family: monospace;
  color: white;
  position: relative;
  z-index: 1;
}

.text-center {
  text-align: center;
  text-shadow: 0 0 8px black;
  margin-top: 100px;
}
@media (max-width:993px) {
  .text-center {
    font-size: 2.8em;
    margin-top:120px;
  }
}
.video-cont {
overflow:hidden;
position:absolute;
height: 90vh;
width:100%;
z-index:0;
}

.video-background {
  width: 100%;
  // position: absolute;
  // top: 0;
  // z-index: 0;
}
.flex {
  display: flex;
  justify-content: center;
}
